ServiceReport/Connected Services/ServiceMetier/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11315/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11315/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11315/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierPM" />
      <xsd:import schemaLocation="http://localhost:11315/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierPM.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:addExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_addExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:addExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:updateExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_updateExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:getExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_getExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEtudiant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEtudiant" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEtudiant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEtudiantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllEtudiant_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllEtudiant" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllEtudiant_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllEtudiantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateEtudiant_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEtudiant" />
  </wsdl:message>
  <wsdl:message name="IService1_updateEtudiant_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEtudiantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteEtudiant_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEtudiant" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteEtudiant_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEtudiantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEtudiant_InputMessage">
    <wsdl:part name="parameters" element="tns:getEtudiant" />
  </wsdl:message>
  <wsdl:message name="IService1_getEtudiant_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEtudiantResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addExpert" message="tns:IService1_addExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addExpertResponse" message="tns:IService1_addExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateExpert" message="tns:IService1_updateExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateExpertResponse" message="tns:IService1_updateExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteExpert" message="tns:IService1_deleteExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteExpertResponse" message="tns:IService1_deleteExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllExpert" message="tns:IService1_getAllExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllExpertResponse" message="tns:IService1_getAllExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getExpert" message="tns:IService1_getExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getExpertResponse" message="tns:IService1_getExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEtudiant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEtudiant" message="tns:IService1_AddEtudiant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddEtudiantResponse" message="tns:IService1_AddEtudiant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllEtudiant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllEtudiant" message="tns:IService1_getAllEtudiant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllEtudiantResponse" message="tns:IService1_getAllEtudiant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEtudiant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateEtudiant" message="tns:IService1_updateEtudiant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateEtudiantResponse" message="tns:IService1_updateEtudiant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEtudiant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteEtudiant" message="tns:IService1_deleteEtudiant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteEtudiantResponse" message="tns:IService1_deleteEtudiant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEtudiant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEtudiant" message="tns:IService1_getEtudiant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEtudiantResponse" message="tns:IService1_getEtudiant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/addExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/updateExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/getExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEtudiant">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEtudiant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEtudiant">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllEtudiant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEtudiant">
      <soap:operation soapAction="http://tempuri.org/IService1/updateEtudiant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEtudiant">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteEtudiant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEtudiant">
      <soap:operation soapAction="http://tempuri.org/IService1/getEtudiant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:11315/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>