ServiceReport/Connected Services/ServiceMetier/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetierPM.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetierPM.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Expert">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Personne">
        <xs:sequence>
          <xs:element minOccurs="0" name="Specialiste" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Expert" nillable="true" type="tns:Expert" />
  <xs:complexType name="Personne">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personne" nillable="true" type="tns:Personne" />
  <xs:complexType name="ArrayOfExpert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expert" nillable="true" type="tns:Expert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpert" nillable="true" type="tns:ArrayOfExpert" />
  <xs:complexType name="Etudiant">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Personne">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateDeNaissance" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Departement" nillable="true" type="tns:Departement" />
          <xs:element minOccurs="0" name="DepartementId" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroEtudiant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgrammeEtudes" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Etudiant" nillable="true" type="tns:Etudiant" />
  <xs:complexType name="Departement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Etudiants" nillable="true" type="tns:ArrayOfEtudiant" />
      <xs:element minOccurs="0" name="Faculte" nillable="true" type="tns:Faculte" />
      <xs:element minOccurs="0" name="FacultéId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departement" nillable="true" type="tns:Departement" />
  <xs:complexType name="ArrayOfEtudiant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Etudiant" nillable="true" type="tns:Etudiant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEtudiant" nillable="true" type="tns:ArrayOfEtudiant" />
  <xs:complexType name="Faculte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Faculte" nillable="true" type="tns:Faculte" />
</xs:schema>