ServiceReport/Connected Services/ServiceMetier/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11315/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierPM" />
  <xs:import schemaLocation="http://localhost:11315/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierPM.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetierPM" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetierPM" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetierPM.Model" minOccurs="0" name="expert" nillable="true" type="q3:Expert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addExpertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetierPM.Model" minOccurs="0" name="expert" nillable="true" type="q4:Expert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateExpertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdExpert" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteExpertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllExpert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetierPM.Model" minOccurs="0" name="getAllExpertResult" nillable="true" type="q5:ArrayOfExpert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdExpert" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetierPM.Model" minOccurs="0" name="getExpertResult" nillable="true" type="q6:Expert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEtudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetierPM.Model" minOccurs="0" name="etudiant" nillable="true" type="q7:Etudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEtudiantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEtudiantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEtudiant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEtudiantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetierPM.Model" minOccurs="0" name="getAllEtudiantResult" nillable="true" type="q8:ArrayOfEtudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEtudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetierPM.Model" minOccurs="0" name="etudiant" nillable="true" type="q9:Etudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEtudiantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateEtudiantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEtudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEtudiantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEtudiantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEtudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEtudiant" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEtudiantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetierPM.Model" minOccurs="0" name="getEtudiantResult" nillable="true" type="q10:Etudiant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>